

div(class="panel")
    h4(class="panel-title") Delivery Details
    div(class="line-items")
        div(class="line-item clearfix address")
            div(class="left") Deliver To
            div(class="right")
                div #{orderInfo.recipientName}
                div #{orderInfo.deliveryAddress}
                div #{orderInfo.deliveryCityAndPostalCode}
    div(class="clearfix")
        div(class="left") Expected Delivery Time
        div(class="right") #{orderInfo.deliveryTime}