

block append styles
  link(rel='stylesheet', href='/stylesheets/header.css')
header
    div
        a(href="/") #{locationInfo.storeName.toUpperCase()}
        br
        a(href="/") #{programStatus}