

doctype html
html
  head
    title="Order Ahead Example"
    block styles
      link(rel='stylesheet', href='/stylesheets/main.css')
    block scripts
  body
    div(class="cocoon")
      include includes/header.pug
      block content
